.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-content-center {
  justify-content: center;
}
.flex-items-center {
  align-items: center;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-static {
  position: static;
}
.absolute-center {
  top: 50%;
  left: 50%;
}
.absolute-center {
  transform: translate(-50%, -50%);
}